body{
  background-image: url(https://img.freepik.com/free-photo/abstract-wall-wallpaper-dark-cement-wall-grunge-texture-black-wall_43520-638.jpg?size=626&ext=jpg);
  background-repeat:repeat-x;
  background-size:auto;
 background-color:WhiteSmoke;
 font-size: 20px;
}
h3 {
  font-size: 25px;
  font-style: italic;
}
h1{
  font-size: 30px;
  color: white;
}
